@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #FFF;

    --foreground-primary: #000;
    --foreground-secondary: #666666;

    --accent-primary: #31B34E;

    --border-primary: #eee;
  }
}
